:root {
    --rosa-pastel: #F8C8DC;
    --azul-pastel: #A7C7E7;
    --blanco: #FFFAF7;
    --azul-oscuro: #264b66;
    --gris-claro: #F5F5F5;
    --sombra: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos*/
body{
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Lora', serif;
    background-color:var(--blanco);
}


/* Header */
.header {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 1;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(to bottom, 
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.3) 50%,
            rgba(255, 250, 247, 1) 100%
        ),
        url('img/img-header-beso.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0; 
    animation: fadeIn 2s ease-out forwards; 
    animation-delay: 0.5s; 
}

.header-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--blanco);
    padding: 20px;
    box-sizing: border-box;
}

.couple-names {
    font-family: 'Great Vibes', cursive;
    font-size: 3.5rem;
    margin: -1rem 0;
    line-height: 1.4;
    font-weight: 400;
    position: relative;
    top: -190px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.3s;
}

.couple-names:nth-child(2) {
    font-size: 2.5rem;
    vertical-align: middle;
    animation-delay: 0.6s;
}

.wedding-text {
    font-family: 'Lora', serif;
    font-size: 1rem;
    margin: 0.8rem;
    font-weight: 400;
    position: relative;
    top: -190px;
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.9s; 
}

/* Animación de entrada de los nombres*/
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.music-player {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    max-width: 300px;
    width: 70%;
    position: relative;
    top: 150px;
    backdrop-filter: blur(5px);
}

.play-button {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--azul-oscuro);
    cursor: pointer;
    border: none;
    outline: none;
}

.time-display {
    font-size: 0.8rem;
    margin-right: 10px;
    min-width: 40px;
    color: var(--azul-oscuro);
}

.duration {
    font-size: 0.8rem;
    margin-left: 10px;
    color:var(--azul-oscuro);
}

.progress-bar {
    flex: 1;
    height: 4px;
    background:var(--rosa-pastel);
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.progress {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: var(--azul-pastel);
    border-radius: 2px;
    transition: width 0.1s linear;
}

/* Sección de cuenta regresiva */
/* Animación para la sección de cuenta regresiva */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.countdown-section {
    padding: 60px 0 0 0!important;
    text-align: center;
    max-width: 200px;
    margin: auto;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.countdown-section.animate {
    opacity: 1;
    transform: translateY(0);
}

.countdown-image img {
    transform: scale(1.5);
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 40px 0  ;
}

.countdown-title {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem !important;
    font-weight: 400;
    color: var(--rosa-pastel);
    margin-bottom: 20px;
}

.countdown-timer {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px auto;
    max-width: 500px;
    padding: 0 15px;
}

.countdown-item {
    text-align: center;
    min-width: 80px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 15px 5px;
    position: relative;
    overflow: hidden;
}

.countdown-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    background: linear-gradient(135deg, #a8e6ff 0%, #ffb3e6 100%);
    opacity: 0.3;
    z-index: 1;
}

.countdown-item span {
    display: block;
    position: relative;
    z-index: 2;
}

.countdown-item span:first-child {
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    color: var(--azul-oscuro);
    line-height: 1;
    margin-bottom: 5px;
}

.countdown-label {
    font-family: 'Lora', serif;
    font-size: 0.85rem;
    color:var(--azul-oscuro);
    font-weight: 600;
}

/* Sección de Guardar Fecha */
.save-date-section {
    position: relative;
    text-align: center;
    padding: 10px;
}

.save-date-container {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.calendar-image {
    max-width: 100%;
    margin-bottom: 10px;
    animation: float 6s ease-in-out infinite;
}

.calendar-img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.save-date-content {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.save-date-text {
    font-family: 'Lora', serif;
    color: var(--azul-oscuro);
    font-size: 1.2rem;
    margin-bottom: 25px;
    line-height: 1.6;
}

.google-calendar-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, var(--azul-pastel), var(--rosa-pastel));
    color: white;
    padding: 12px 30px;
    border-radius: 10px 0;
    text-decoration: none;
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 1.1rem;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.google-calendar-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.google-calendar-btn:active {
    transform: translateY(1px);
}

.google-calendar-btn i {
    margin-right: 10px;
    font-size: 1.2rem;
}

/* Sección de imagen con degradado */
.gradient-image-section {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow: hidden;
    margin-top: -130px;
}

.gradient-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    object-position: center;
    min-height: 300px; 
}

/*Sección de tarjeta*/
.card {
    width: 95%;
    max-width: 320px;
    height: 400px;
    perspective: 1000px;
    margin: 30px auto;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.inner-card {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

.card.flipped .inner-card {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: center;
}

/* Frente de la tarjeta */
.card-icon {
    width: 400px;
    height: 400px;
    object-fit: contain;
    margin: 0 ; 
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
    transition: transform 0.3s ease;
}

.front {
    background: linear-gradient(135deg, #a7d4f4 0%, #ffb3e6 100%);
    color: #264b66;
    font-family: 'Great Vibes', cursive;
    font-size: 3.5rem ;
    font-weight: 400;
    box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}



/* Reverso de la tarjeta */
.back {
    background: white;
    transform: rotateY(180deg);
    color: var(--azul-oscuro);
    padding: 25px;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ceremony-info {
    width: 100%;
    max-width: 280px;
    text-align: center;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    text-align: center;
}

.info-item i {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: var(--rosa-pastel);
}

.info-label {
    font-family: 'Lora', serif;
    font-weight: 600;
    font-size: 0.9rem;
    color:var(--rosa-pastel);
    margin-bottom: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.info-value {
    font-family: 'Lora', serif;
    font-size: 1.1rem;
    line-height: 1.4;
    color: var(--azul-pastel);
    margin-bottom: 5px;
}

.info-address {
    font-family: 'Lora', serif;
    font-size: 0.95rem;
    color:var(--azul-pastel);
    font-style: italic;
    line-height: 1.4;
    margin-bottom: 15px;
}

.card:hover .card-icon {
    transform: scale(1.1);
}

/* Botón de ubicación */
.map-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--azul-oscuro);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px 0;
    font-family: 'Lora', serif;
    font-size: 0.9rem;
    margin-top: 10px;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    font-weight: 500;
    width: 100%;
    max-width: 200px;
}

.map-button i {
    margin-right: 8px;
    font-size: 1rem;
}

.map-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(to right, var(--azul-oscuro), var(--rosa-pastel));
}

.map-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

/* Responsive */
@media (max-width: 768px) {
    .save-date-container {
        flex-direction: column;
        text-align: center;
    }
    
    .save-date-content {
        text-align: center;
        max-width: 100%;
    }
    .gradient-overlay,
    .gradient-overlay::after {
        height: 100px;
    }
    
    .gradient-overlay::after {
        bottom: -100px;
    }
}

/* Responsive */
@media (max-width: 768px) {

    .google-calendar-btn {
        padding: 10px 20px;
        font-size: 1rem;
    }
    
    .countdown-title {
        font-size: 1.8rem;
        margin-bottom: 15px;
    }
    
    .countdown-item {
        min-width: 50px;
        padding: 10px 5px;
    }
    
    .countdown-item span:first-child {
        font-size: 1.5rem;
    }
}

/* Animación flotante */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}

.moments-section {
    padding: 10px;
    text-align: center;
    overflow: hidden; 
}

.photo-album {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-title{
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-size: 2.8rem;
    color: var(--rosa-pastel);
}

.album-cover {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Versión móvil */
@media (max-width: 768px) {
    
    .photo-album {
        padding: 0 10px;
        max-width: 100%;
    }
    
    @keyframes gentleSwing {
        0%, 100% {
            transform: rotate(-5deg);
        }
        50% {
            transform: rotate(5deg);
        }
    }
    
    .album-cover {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        animation: gentleSwing 8s ease-in-out infinite;
        transform-origin: center center;
        will-change: transform;
        transition: all 0.5s ease;
    }
}
/* Sección de Código de Vestimenta */
.dresscode-section {
    position: relative;
    padding: 80px 20px;
    text-align: center;
    overflow: hidden;
}

.dresscode-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/img-collage.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.15;
    z-index: 0;
}

.dresscode-container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    z-index: 1;
}

.dresscode-content {
    background:var(--blanco);
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
    padding: 50px;
    backdrop-filter: blur(5px);
}

.dresscode-item {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 40px;
    gap: 30px;
}

.dresscode-item:last-child {
    margin-bottom: 0;
}

.dresscode-icon {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dresscode-img {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.dresscode-text {
    flex: 1;
}

.dresscode-text h3 {
    color: var(--rosa-pastel);
    font-family: 'Great Vibes', cursive;
    font-size: 2.2rem;
    margin: 0 0 15px 0;
    font-weight: 400;
}

.dresscode-text p {
    color:var(--azul-oscuro);
    line-height: 1.7;
    margin: 0;
    font-size: 1.05rem;
    padding:  0 30px;
}

.dresscode-item.note {
    margin: 40px -30px -30px;
    padding: 30px;
}

/* Versión móvil */
@media (max-width: 768px) {
    .dresscode-item {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    
    .dresscode-icon {
        margin: 0 auto;
    }
    
    .dresscode-content {
        padding: 30px 20px;
    }
    
    .dresscode-item.note {
        margin: 30px -15px -15px;
    }
}

/* Sección RSVP */
.rsvp-section {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.rsvp-container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.rsvp-title {
    font-family: 'Great Vibes', cursive;
    color: var(--azul-oscuro);
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-weight: 400;
}

.rsvp-text {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.6;
}

.rsvp-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, var(--azul-pastel), var(--rosa-pastel));
    color: white;
    text-decoration: none;
    padding: 15px 35px;
    border-radius: 10px 0;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 20px 0 30px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 20px rgba(36, 44, 39, 0.3);
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    animation: pulse 2s infinite;
}

.rsvp-btn i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.rsvp-btn:hover {
    animation: none; /* Detiene la animación al hacer hover */
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 8px 25px rgba(167, 199, 231, 0.4);
}

.rsvp-message {
    color:var(--azul-oscuro);
    font-style: italic;
    font-size: 1.1rem;
    max-width: 600px;
    margin: 0 auto;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
        transform: scale(1.05);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

/* Versión móvil */
@media (max-width: 768px) {
    .rsvp-section {
        padding: 60px 15px;
    }
    
    .rsvp-title {
        font-size: 2.8rem;
    }
    
    .rsvp-text {
        font-size: 1.1rem;
    }
    
    .rsvp-btn {
        padding: 12px 30px;
        font-size: 1.1rem;
    }
}

/* Footer con imagen */
.footer-image {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    overflow: hidden;
}

.footer-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

/* Asegura que no haya espacio extra debajo de la imagen */
.footer-image::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.2) 0%, transparent 30%);
    pointer-events: none;
}

/* Versión móvil */
@media (max-width: 768px) {
    .footer-img {
        height: 300px; /* Ajusta según necesites */
        object-position: center;
    }
}

